{% extends "base.htm" %}

{% block content %}
<div id="title">Mock Exam</div><hr/>


<div id="responses">
<form action="{{url_for('enter')}}" method="POST">
StudentID: <input type="text" name="studentid" value="{{osis}}" required/>{{message}}<br/>
<table>
<tr><td>
{% for number in range(1,41)%}
  {{ number }} ) <input type="text" name="Q{{ number }}" value="" placeholder="Enter Answer" pattern="a|b|c|d|e" /><br/>
  {% if number % 10 == 0 %} </td><td>    {% endif %}
{% endfor %}
</td></tr></table>
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}